<div id="presentation">
    <div class="slides_container">
        <!-- Begin slides -->
        <section class="slide center" id="title-slide">
            <h1>Why is Refinery CMS so awesome? :-)</h1>
            <img src="assets/content/refinery-logo-trans.png" style="width: 100%;"/>
        </section>

        <section class="slide">
            <h2>Outline</h2>
            <h3>Introduction</h3>
            <ul>
                <li>
                    Who am I
                </li>
                <li>
                    My journey with CMS
                </li>
                <li>
                    RefineryCMS background
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>Outline</h2>
            <h3>Why is so awesome</h3>
            <ul>
                <li>
                    Good parts
                </li>
                <li>
                    Bad parts
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>Outline</h2>
            <h3>Practical</h3>
            <ul>
                <li>
                    Lets start
                </li>
                <li>
                    Customize
                </li>
                <li>
                    Extend
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>Outline</h2>
            <h3>End</h3>
            <ul>
                <li>
                    Alternatives
                </li>
                <li>
                    Where to next
                </li>
                <li>
                    Resources
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>Marek</h2>
            <p>Most of time I am located in Prague, where I live and sometimes work or study .)</p>
            <p>
                PHP (<a href="http://nette.org/en">Nette</a>), Javascript, html stuff..
            </p>
            <p>
                Still learning Ruby, Rails and other languages
            </p>
            <p>
                <a href="https://github.com/keram">github.com/keram</a>
            </p>
        </section>

        <section class="slide">
            <h2>CMS</h2>
            <h3>PHP</h3>
            <ul>
                <li><h3>WordPress</h3>
                    <p>Blogging system not CMS</p>
                </li>
                <li><h3>Drupal 7</h3>
                    <p>taxonomy, cck, views..</p>
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>CMS</h2>
            <h3>Java</h3>
            <ul>
                <li><h3>Liferay</h3>
                    <p>Enterprise but annoying. (jsp, portlets)</p>
                </li>
                <li><h3>JnetPublish</h3>
                    <p>Good but little expensive .)</p>
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>CMS</h2>
            <h3>Ruby on Rails</h3>
            <ul>
                <li><h3>Radiant</h3>
                    <p>Obsolete and non intuitive UI</p>
                </li>
                <li><h3>Webiva</h3>
                    <p>looks nice but I was not able already install</p>
                </li>
            </ul>
        </section>

        <section class="slide">
            <h2>RefineryCMS</h2>
            <p>
                2004 - Founded by David Jones at <a href="http://resolvedigital.com" title="http://resolvedigital.com">Resolve Digital</a>.
            </p>

            <p>2009 - Project open sourced</p>
            <p>2010 - Rails 3 support</p>
            <p>2010 - most popular Rails CMS project</p>

        </section>

        <section class="slide">
            <h2>Alternatives</h2>

            <p>locomotive cms - ruby, rails</p>
            <p>django cms - python, django</p>

        </section>

        <section class="slide">
            <h2>Where to next</h2>
            <p>
                <a href="http://refinerycms.com/guides/">refinerycms.com/guides</a> <br />
                <a href="https://github.com/resolve/refinerycms">github.com/resolve/refinerycms</a> <br />
                <a href="https://groups.google.com/forum/#!forum/refinery-cms">groups.google.com/forum/#!forum/refinery-cms</a>
            </p>
            <p>
                Help us: <a href="https://github.com/keram/refinerysk">github.com/keram/refinerysk</a> <br />
            </p>

        </section>

    </div>
</div>